.all_cards_wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    max-width: 1248px;
    gap: 30px;
    
}

.page_title{
    text-align: center;
}

.start_shopping_btn_wrapper{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1248px;
    margin-top: 50px;
}

.start_shopping{
    padding: 15px 75px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 6px;
    transition: .2s;
    font-size: 20px;
    &:hover{
        background-color: rgba(0, 0, 0, 0.868);
    }
}