.laptop{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.laptops{
    display: flex;
    align-items: center;
    justify-content: center;
}

.laptop_title{
    color: white;
}

