.category_modal{
    width: 530px;
    height: auto;
    background-color: white;
    border: black 1px solid;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
    top: 45px;
    left: 0;
    z-index: 2;
}

.modal_ul{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 14px;
    li{
        a{
            color: #555;
            &:hover{
                color: blue;
            }
        }
    }
}

.view_all{
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
}